sbpro-dashboard-head(
    icon='corner-right-down',
    title='Dropdowns',
    description='Extended dropdown components for organizing your menus and content'
)
.container-fluid.mt-n10
    .row
        .col-lg-9
            sbpro-dropdowns-default(
                sbproTocItem='Default'
            )
            sbpro-dropdowns-icons(
                sbproTocItem='Icons'
            )
            sbpro-dropdowns-animated(
                sbproTocItem='Animated'
            )
            sbpro-dropdowns-notifications(
                sbproTocItem='Notifications'
            )
        .col-lg-3
            sbpro-toc-nav([tocIndex]='tocIndex')
