sbpro-dashboard-head(
    icon='menu',
    title='Navigation',
    description='Navigation components to help your users find content within your application'
)
.container-fluid.mt-n10
    .row
        .col-lg-9
            sbpro-navigation-side(
                sbproTocItem='Side Navigation'
            )
            sbpro-navigation-sticky(
                sbproTocItem='Sticky Navigation'
            )
        .col-lg-3
            sbpro-toc-nav([tocIndex]='tocIndex')
